@media print {
  body * {
    visibility: hidden;
  }
  #htmlPreview, #htmlPreview * {
    visibility: visible;
  }
  #htmlPreview {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
  }
}